

<h1>Create a new release</h1>

<%= form_for [:admin, @project, @release] do |f| %>
  <fieldset>
    <label>Project name</label>
    <%= text_field_tag :project_name, @project.name, class: "input-xxlarge", disabled: true %>

    <label>Person</label>
    <%= f.select :email_address, Admin.all.map { |admin| [ admin.name, admin.email ] } %>

    <label>Branch Name</label>
    <%= f.text_field :branch, class: "input-xxlarge" %>

    <label>Environment</label>
    <%= f.text_field :environment, class: "input-xxlarge" %>

    <label>Deployed At</label>
    <%= f.datetime_select :deployed_at, {}, class: 'span2' %>
  </fieldset>

  <%= f.button "Create release", class: 'btn btn-success' %>
  <%= link_to 'Cancel', admin_projects_path, class: 'btn' %>
<% end %>