<h1>Create a new admin</h1>

<%= form_for [:admin, @admin] do |f| %>
  <fieldset>
    <label>Admin's email</label>
    <%= f.text_field :email, placeholder: 'Enter the admin\'s email', class: "input-xxlarge" %>
    <label>Admin's first name</label>
    <%= f.text_field :first_name, placeholder: 'Enter the admin\'s first name', class: "input-xxlarge" %>
    <label>Admin's last name</label>
    <%= f.text_field :last_name, placeholder: 'Enter the admin\'s last name', class: "input-xxlarge" %>
  </fieldset>

  <%= f.button "Create admin", class: 'btn btn-success' %>
  <%= link_to 'Cancel', admin_admins_path, class: 'btn' %>
<% end %>